<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Ideal Consultas</title>
  <!-- base:css -->
  <link rel="stylesheet" href="{% static 'vendors/mdi/css/materialdesignicons.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/dashboard/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/dashboard/onclick.css' %}">
  <link rel="shortcut icon" href="{% static 'images/dashboard/favicon.png' %}" />
  <link rel="shortcut icon" href="{% static 'css/empresa/style.css' %}" />
  <!-- Cadastro-empresa:css-->
  <link rel="stylesheet" type="text/css" href="{% static 'css/empresa/reset.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/empresa/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/empresa/list.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/empresa/fonts-icones.css' %}">


<div class=" erros">
  <div style="height: 10vw;"></div>

<h1 class="">Página não encontrada</h1>
<p>Infelizmente a página que você procura não está disponível.</p>
</div>
<div style="height: 35vw;"></div>
<footer class="footer">
  <div class="card">
    <div class="card-body">
      <div class="d-sm-flex justify-content-center justify-content-sm-between">
        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Desenvolvedor: Juan Pablo</span>
        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Email: jpsevero30@hotmail.com</span>
      </div>
    </div>
  </div>
</footer>
