{% extends 'base.html' %}
{% load static %}

{% block content %}

<br>
<br>
<div class="content-wrapper ">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
    <h1>AGENDAR TREINAMENTO</h1>
    <form class="form margin_bottom"  action="#" method="post">
        {% csrf_token %} 
        <div class="form_grupo">
            <label for="empresa" class="form_label">Empresa</label>
            <input type="text" name="empresa" class="form_input" id="empresa" placeholder="Empresa" required autocomplete="off" minlength="3" maxlength="150" required data-error="Porfavor coloque o nome da empresa">
        </div>
        
        <div class="form_grupo">
            <label for="cnpj" class="form_label cnpj">Cnpj</label>
            <input type="text" name="cnpj" class="form_input" id="cnpj" placeholder="Cnpj" pattern="(\d{3}\.?\d{3}\.?\d{3}-?\d{2})|(\d{2}\.?\d{3}\.?\d{3}/?\d{4}-?\d{2})" required autocomplete="off" minlength="3" maxlength="50" required data-error="Porfavor coloque um CNPJ válido">
        </div>
        <div class="form_grupo">
            <label for="cliente" class="form_label">Cliente</label>
            <input type="cliente" onclick="asd" name="cliente" class="form_input" id="cliente" placeholder="Cliente" required autocomplete="off" minlength="3" maxlength="150" required data-error="Porfavor coloque o nome do cliente corretamente">
        </div>
        <div class="form_grupo">
            <label for="telefone" class="form_label">Telefone</label>
            <input type="telefone" name="telefone" class="form_input" id="telefone" placeholder="(xx) xxxx-xxxx" required >
        </div>
        <div class="form_grupo">
            <label for="data" class="form_label">Data</label>
            <br>
            <input type="date" id="data" class="date" name="data"  value="{{ data }}" min="{{ data }}" >
        </div>
        <div class="form_grupo">
            <label for="horario" class="form_label">Horario</label>
            <br>
            <input type="time" id="horario" class="date" name="horario" required>
        </div>
        <div class="form_grupo">
            <label for="sistema" class="form_label">Sistema</label>
            <table>
                {% for sis in sistemas %}
                <tr>
                  <td class="choose-input"><input type="radio" id="sistema" name="sistema" value="{{ sis.id }}"></td>
                  <td class="choose-td"><label for="sistema">{{sis.nome}}</label></td>
                </tr>
                {% endfor %}
            </table>
        </div>

        {% if autorizacao.visualizar_usuario %}
        <div class="form_grupo">
            <br>
            <label for="atendente" class="form_label">Atendente</label>
            <select name="atendente" id="atendente" class="dropdown" required>
                <option selected disabled class="form_select_option" value="">Selecione</option>
                {% for user in usuarios %}
                <option value="{{ use.id }}" class="form_select_option">{{ user.nome }}</option>
                {% endfor %}
            </select>
        </div>
        {% else %}
        <div class="form_grupo">
            <label for="atendente" class="form_label">Atendente</label>
            <input type="text" disabled="" name="atendente" class="form_input" id="atendente" placeholder="{{ request.session.usuario_nome }}" required value="{{ request.session.usuario_nome }}">
        </div>
        {% endif %}



        <div class="form_message">
            <label for="observ33acao" class="form_message_label"> Observação (Não obrigatorio)</label>
            <textarea name="observacao" class="form_input" id="observacao" placeholder="observacao"cols="30" rows="3" class="form_input message_input"></textarea>
        </div>
         <div class="submit">
            <input type="hidden" name="acao" value="enviar">
            <button type="submit" name="Submit" class="submit_btn" >Salvar</button>
        </div>
    </form>
</div>
</div>
</div>
</div>
</div>

{% include 'footer.html' %}

{% endblock %}