{% load static %}
 <!-- content-wrapper ends -->
        <!-- partial:./partials/_footer.html -->
        <footer class="footer">
            <div class="card">
              <div class="card-body">
                <div class="d-sm-flex justify-content-center justify-content-sm-between">
                  <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Desenvolvedor: Juan Pablo</span>
                  <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Email: jpsevero30@hotmail.com</span>
                </div>
              </div>
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
  
    <!-- base:js -->
    <script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <script src="{% static 'vendors/chart.js/Chart.min.js' %}"></script>
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="{% static 'js/dashboard/template.js' %}"></script>
    <!-- endinject -->
    <!-- plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- Custom js for this page-->
    <script src="{% static 'js/dashboard/dashboard.js' %}"></script>
    <!-- End custom js for this page-->
    <!--Empresa:js-->
    <script src="{% static 'js/empresa/jquery.js' %}"></script>
    <script src="{% static 'js/empresa/script.js' %}"></script>
    <script src="{% static 'js/treinamento/script.js' %}"></script>
  </body>
  </html>
