{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}



<br>
{% bootstrap_messages %}

<br>
<div class="tam" >
    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <br>
          <div class="card-title-em">
            <div class="card-filter">
              <h4 class="card-title">EMPRESAS</h4>
              <br>
              <div class="filtrar">
              <h4  class="card-title">Filtrar:</h4>
              <h4  class="card-title card-title-h4">Sistema</h4>
                <select name="unidade" id="unidade" class="dropdown" required onChange="AbrirSecao(this.value)">
                    <option value="{% url 'listar-empresa' %}" class="form_select_option" value="">Todos</option>
                    {% for sistema in sistemas %}
                    {% if sistema.id == select %}
                    <option selected value="?search={{sistema.id}}" class="form_select_option">{{sistema.nome}}</option>
                    {% else %}
                    <option value="?search={{sistema.id}}" class="form_select_option">{{sistema.nome}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
              </div>
            </div>
            
            <div class="upload">
              <div class="upload-menu">
                <h1>Upload arquivo CSV</h1>
              <div class="menu3">
                <button class="menu-button3" onclick="toggleMenu3()">&#8942;</button>
                <div class="menu-items3" id="menuItems3">
                  <a href="#">Baixar exmplo do arquivo CSV</a>

                  <!-- Adicione mais itens conforme necessário -->
                </div>
              </div>
              </div>
              
              <form method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  <input type="file" class="submit_btn " name="csv_file" accept=".csv">
                  <button class="button-post submit_btn" type="submit">Enviar</button>
              </form>
              
            </div>
            
            <br><br>
          </div>
          <br>
          <div class="table-responsive">
            {% if paginator != '' %}
            <table class="table table-striped">
              <thead>
                
                <tr>
                  <th>
                    RAZÂO SOCIAL
                  </th>
                  <th>
                    CNPJ
                  </th>
                  <th>
                    NOME FANTASIA
                  </th>
                  <th>
                    SISTEMA
                  </th>
                  <th>
                    SUPORTE
                  </th>
                  <th>
                    COBRANÇA
                  </th>
                </tr>
              </thead>
              <tbody>
                {% for emp  in empresas %}
                <tr>
                  <td class="py-1">
                    {{emp.empresa.razao}}
                  </td>
                  <td>
                    {{emp.empresa.cnpj}}
                  </td>
                  <td>
                    {{emp.empresa.fantasia}}
                  </td>
                  <td>
                    {{emp.sistema}}
                  </td>
                  <td>
                    {{emp.suporte}}
                  </td>
                  <td>
                    {{emp.contrato}}
                  </td>
                  {% if autorizacao.editar_empresa %}
                  <td>
                    <a href="{% url 'editar-empresa' emp.id %}"><i class="mdi mdi-pencil menu-icon"></i></a>
                  </td>
                  <td>
                    <a name="itens" id="itens" class="delete" onclick='return pergunta();' href="{% url 'excluir-empresa' emp.id %}"><i class="mdi  mdi-delete menu-icon"></i></a>
                  </td>
                  {% endif %}
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <br><br>
            <div class="pagination text-center center ">
              <span class="step-links">
                {% if empresas.has_previous %}
                <a href="?page={{ empresas.previous_page_number }}">anterior</a>
                {% endif %}
                <span class="current">Página {{ empresas.number }} de {{ empresas.paginator.num_pages }}.</span>
                {% if empresas.has_next %}
                <a href="?page={{ empresas.next_page_number }}">próxima</a>
                {% endif %}
              </span>
            </div>
            {% else %}
            <div class="notfind">
              <h1>Não foram encontradas empresas cadastradas</h1>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>


{% include 'footer.html' %}

{% endblock %}